@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header-container{ 
    margin: 0 auto;
    height: 80px;
    font-family: 'Cabin', sans-serif;
    width: 80vw;
}

.company-name{ 
    margin: 15px;
    padding-top: 15px;
    color: #2f5f74; 
    text-decoration: none;
    font-size: 1.8rem; 
    line-height: 1;
    font-weight: bold;
    
}

.logo{ 
    display: none;
    /* height: 100%;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0; */
}

@media only screen and (min-width: 300px ){ 
    .logo{ 
        display: block;
        height:30px; 
        width: 60px;
        position: relative;
        top: 0;
        right: 0;
        margin: 5px;
    }
    .header-container{ 
        margin: 0 auto;
        height: 80px;
        font-family: 'Cabin', sans-serif;
        width: 80vw;
        display: flex;
        align-items: stretch;
        justify-content: space-between ;
    }
}